<div class="card text-center">
    <div class="card-header">
      Hey you!
    </div>
    <div class="card-body">
      <h5 class="card-title">Welcome to my Website!</h5>
      <p class="card-text">I am a young programmer studying to become a game developer.</p>
      <p class="card-text">Want to learn more? </p>
      <p class="card-text">Click on the button below!</p>
      <a href="/about" class="btn btn-primary">About Me</a>
    </div>
</div>
